<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Meadowlark Travel</title>
    {{#if showTests }}
      <link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
    {{/if}}
    <style>
      img#logo {
        width: 15em;
        height: 15em;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {{{ _sections.jquery }}}
  </head>
  <body>
    <header>
      <img src="/img/logo.png" id="logo" alt="Meadowlark Travel logo" />
    </header>
    {{{ body }}}
  </body>
  {{#if showTests }}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
      mocha.ui('tdd');
      var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript }}
      <script src="{{ pageTestScript }}"></script>
    {{/if}}
    <script>mocha.run();</script>
  {{/if}}
</html>
