<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.png" alt="Meadowlark Travel logo" />
    </header>
    {{{ body }}}
  </body>
</html>