<!doctype html>
<html>
<head>
  <title>Meadowlark Travel Microsite</title>
  <style>
    body {
      background-color: #7D1F1F;
      color: #FFF;
    }
  </style>
</head>
<body>
  {{{ body }}}
</body>
</html>
